
html {
    scroll-behavior: smooth;
  }

body {  
    background-image: url(Forradalom2.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav{
    position:fixed;
    width: 100vw;
    height: 60px;
    border-bottom: 3px solid whitesmoke;
    display: contents;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

 }
 
 .nav_links {
    transition: 0.2s;
 }

 ul{
    display:flex;
    align-items: center;
    height: 60px;
 }
 ul a{
    text-decoration: none;
    color: white;
    margin: 0 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
 }



 ul li{
    list-style: none;
 
 }
 ul a:hover{
   color: red  
 }

 ::-webkit-scrollbar {
    width: 10px;
 }
 
 ::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
 
 }
 
 ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
    background: white;
 }


 #bevezetes{
   border: solid 5px black;
   background-color: rgba(0, 0, 0, 0.61);
   border-radius: 40px 40px;
   padding: 15px;
   margin-left: 20%;
   margin-right: 20%;

 }


 p.a{
    color: white;
    font-size: 24px;
}



h1{
   text-align: center;
    font-size: 55px;
   color: red;

}

h1.b{
    text-align: center;
     font-size: 50px;
    color: white;
 
 }
 
h1.c{
    text-align: center;
     font-size: 50px;
    color:green;
 
 }

hr{
    border: solid 2px white;
}

#bevezetés2{
  margin-left: 30%;
  margin-right: 30%;
  border: solid 2px black;
  background-color: rgba(0, 0, 0, 0.61);
  padding: 4px;
  margin-bottom: 20px;
}


#bevezetes3{
    border: solid 5px black;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 40px 40px;
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  #bevezetes4{
    border: solid 5px black;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 40px 40px;
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
  }

